.image{
    background-position: right;
}
/* This class makes the movie box look like it's fullscreen */
.theater-mode {
    position: fixed !important;
    inset: 0 !important;
    z-index: 9999 !important;
    width: 100vw !important;
    height: 100vh !important;
    scale: 1 !important;
    opacity: 1 !important;
    border-radius: 0 !important;
    background-color: #09090b; /* Zinc-950 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.theater-mode video {
    max-height: 80vh;
    width: auto;
}